name: Auto Renamer

on:
  push:
    branches:
      - main
    paths:
      - "**.xml"
      - "Data/**"
  workflow_dispatch:

jobs:
  run-code:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PUSH_TOKEN }}
       
      - name: setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
      # No dependencies
      - name: exucute py script
        run: |
          python renamer.py
          git config user.name RimWorldKorea
          git config user.email 150018627+RimWorldKorea@users.noreply.github.com
          git add .
          git commit -m "Github Actions - Auto Renamer" || exit 0
          git push

      #- name: commit and push changes
      #  if: steps.changed-files.outputs.files_changed == 'true'
      #  run: |
